$large: 1760px;

.header {
  z-index: 10;
  width: 100%;
  padding: 0 15px;
  margin-top: 28px;
  margin-bottom: 20px;
  @media (min-width: $large) {
    margin-bottom: 0;
    margin-top: 60px;
  }

  &_title {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    @media (min-width: $large) {
      font-weight: 800;
      font-size: 85px;
      line-height: 100px;
    }
  }
}