.swiper {
  position: relative;
  margin: auto;
  margin-bottom: 40px;
  list-style: none;
  padding: 0;
  z-index: 1;
  max-width: 1920px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  transition-property: transform;
}


.slider-nation {
  .representation {
    position: relative;
    padding-bottom: 6.438rem;
    z-index: 1;
    @media (max-width: 859px) {
      padding-bottom: 2.438rem;
      margin: 0 2rem;
    }
    @media (max-width: 639px) {
      padding-bottom: 1.438rem;
      margin: 0;
    }
    @media (max-width: 320px) {
      & .wrap {
        width: 93%;
      }
    }

    & .text {
      font-weight: 700;
    }

    &__quantity {
      font-size: 175px;
      line-height: 117px;
      margin-bottom: 10px;
      transition: opacity .5s ease-in-out, visibility .5s ease-in-out, transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
      @media (max-width: 720px) {
        font-size: 72px;
        line-height: 88px;
        margin: 0;
      }
      @media (max-width: 480px) {
        font-size: 36px;
        font-weight: 700;
        line-height: 38px;
      }
    }

    &__type {
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      margin-bottom: 10px;
      color: rgba(249, 245, 225, 0.5);
      @media (min-width: 720px) {
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        margin-bottom: 25px;
      }
    }

    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @media (min-width: 1760px) {
        gap: 15px;
      }
    }

    &__technic {
      font-size: 18px;
      line-height: 1.24;
      @media (min-width: 720px) {
        font-size: 24px;
      }
      @media (min-width: 1100px) {
        margin-bottom: 28px;
      }
    }
  }
}

// Pagination
.slider_pagination {
  display: flex;
  justify-content: center;
  gap: 69px;
  max-width: 1920px;
}

// Pagination - Navigation Buttons
.nav-slider__btn-next, .nav-slider__btn-prev {
  position: relative;
  width: 58px;
  height: 58px;
  background-color: #000000 !important;
  color: #F9F5E1;
  cursor: pointer;
  z-index: 1;
  clip-path: polygon(100% 0%, 100% 60.8%, 100% 100%, 92.53% 100%, 29.31% 100%, 0% 65.52%, 0% 0%);
  @media (max-width: 1440px) {
    display: none;
  }

  &:before {
    content: '';
    background-image: url("../../../public/assets/icons/arrow-left-solid.svg") !important;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: #F25322 !important;

    &:before {
      filter: invert(100%);
    }
  }
}

.nav-slider__btn-next {
  clip-path: polygon(100% 0%, 100% 67.6%, 72.41% 100%, 0% 100%, 0% 0%);

  &:before {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
}

// Pagination - Bullets
.pagin-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  @media (min-width: 1760px) {
    gap: 10px;
  }

  & .swiper-pagination-bullet {
    width: auto;
    height: auto;
    display: block;
    border-radius: 0;
    background: none;
    opacity: 1;
    margin: 0;
  }

  .swiper-pagination-bullet {
    width: 6rem;
    @media (max-width: 1440px) {
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      background: #e9e2bf;
      border-radius: 0;
      opacity: 0.4;
      margin: 0.3rem;
      &:hover {
        opacity: 0.8;
      }
    }

    &::after {
      content: '';
      position: absolute;
      background-color: rgba(249, 245, 225, 0.3);
      cursor: none;
      @media (max-width: 639px) {
        content: none;
      }
    }

    &:last-child {
      &::after {
        content: none;
      }
    }

    &:hover {
      .swiper-pagination-bullet {
        &__title {
          transform: scale(0);
        }
      }
    }

    &__title {
      text-transform: uppercase;
      transition: transform 0.5s ease-in-out;
    }

    &__title {
      margin-top: 4px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: rgba(249, 245, 225, 0.5);
      @media (max-width: 1440px) {
        display: none;
      }
    }

    &__img {
      transition: transform 0.5s ease-in-out;
      will-change: transform;
      @media (max-width: 1440px) {
        display: none;
      }
    }
  }

  & .swiper-pagination-bullet-active {
    @media (max-width: 639px) {
      opacity: 1;
    }

    &:hover {
      cursor: auto;
    }

    .swiper-pagination-bullet {
      &__title {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }

    &__img {
      transition: transform 0.5s ease-in-out;
      will-change: transform;
    }
  }
}

.nation {
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(/assets/nation/nation_bg.jpg) right 0.625rem / 80rem auto no-repeat;
  @media (max-width: 1440px) {
    background-position: center 3.13rem;
    background-size: contain;
  }
  @media (max-width: 639px) {
    background-position: center 6.13rem;
  }
  @media (max-width: 480px) {
    background-position: center  -0.87rem;
  }
}

.nation {
  margin-bottom: 3.75rem;

  &__info {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 4.375rem 1.75rem 0;
    margin-bottom: 2rem;
    z-index: 2;
    @media (max-width: 859px) {
      padding: 0;
    }
    @media (max-width: 320px) {
      top: 18%;
      width: 95%;
    }
  }

  .slider-nation {
    .slider-nation-slide {
      .content-slide {
        margin-left: auto;
        margin-top: 7.5rem;
        @media (max-width: 1440px) {
          margin-top: 8.5rem;
        }
        @media (min-width: 1760px) {
          max-width: 1328px;
        }
        @media (max-width: 480px) {
          margin-top: 2rem;
        }
      }

      .img-flag-desktop {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 100%;

        @media (min-width: 1760px) {
          display: block;
        }
      }

      .picture-slide {
        position: relative;
        top: -2.4rem;
        left: 0;
        height: 100%;
        max-height: 704px;

        @media (max-width: 320px) {
          top: -0.8rem;
          //margin-top: 14.5rem;
        }

        .img {
          position: absolute;
          top: 2rem;
          left: 0;
        }

        .img-flag {
          top: -6rem;
          left: 100%;
          opacity: 0;
          z-index: -1;
          transition: 1s opacity ease, 1s left ease;


          @media (max-width: 480px) {
            top: -2rem;
            height: 12rem;
            max-width: 226px;
          }
          @media (max-width: 980px) {
            max-width: 328px;
          }
          @media (min-width: 1760px) {
            display: none;
          }
        }

        .img-tanks {
          width: 100%;
          z-index: 1;
        }
      }

      .title-slide {
        position: relative;
        font-width: 900;
        font-size: 53px;
        line-height: 62px;
        text-transform: uppercase;
        margin-bottom: 2rem;
        -webkit-text-stroke: 2px #F9F5E1;
        color: transparent;
        z-index: 10;
        @media (max-width: 480px) {
          font-size: 36px;
          line-height: 42px;
        }
        @media (min-width: 720px) {
          font-size: 72px;
          line-height: 86px;
          margin-bottom: 6rem;
        }
        @media (min-width: 1440px) {
          font-size: 175px;
          line-height: 205px;
          z-index: 0;
        }

        //@media (max-width: 859px) {
        //  font-size: 5.5rem;
        //  line-height: 3.063rem;
        //}
        //@media (max-width: 639px) {
        //  font-size: 4.5rem;
        //  line-height: 1.063rem;
        //  margin-bottom: 5rem;
        //  z-index: 10;
        //}
        //@media (max-width: 320px) {
        //  font-size: 2.5rem;
        //  margin-bottom: 4rem;
        //}
      }

      &.swiper-slide-duplicate-active,
      &.swiper-slide-active {
        .picture-slide {
          .img-flag {
            left: 0;
            opacity: 0.8;
            transition: 1s opacity ease, 1s left ease;
          }
        }

        .img-flag-desktop {
          left: 0;
          opacity: 0.8;
          transition: 1s opacity ease, 1s left ease;
        }
      }

      &.swiper-slide-duplicate-next,
      &.swiper-slide-next {
        .picture-slide {
          .img-flag {
            left: 100%;
            opacity: 0;
          }
        }
      }

      &.swiper-slide-duplicate-prev,
      &.swiper-slide-prev {
        .picture-slide {
          .img-flag {
            left: -100%;
            opacity: 0;
          }
        }
      }
    }

    .pagin-slider {
      position: relative;
      max-width: 78rem;
      @media (max-width: 1099px) {
        max-width: 63rem;
      }
      @media (max-width: 859px) {
        max-width: 47rem;
      }
      @media (max-width: 320px) {
        max-width: 18rem;
        bottom: 1rem;
      }

      &::after {
        top: 50%;
        left: 92%;
        max-width: 1.875rem;
        width: 23%;
        height: 0.0625rem;
        z-index: -1;
      }

      .swiper-pagination-bullet {
        position: relative;

        &:hover {
          &:before {
            content: '';
            position: absolute;
            left: 17px;
            bottom: 12px;
            background-clip: content-box;
            width: 66px;
            height: 66px;
            border-radius: 100%;
            background: #F25322;
            filter: blur(30px);
            z-index: -1;
            @media (max-width: 1440px) {
              display: none;
            }
          }

          .swiper-pagination-bullet {
            &__img {
              transform: scale(2);
              position: relative;
              z-index: 1;
            }


          }
        }

        &__img {
          width: 4.125rem;
          height: 3.188rem;
          @media (max-width: 859px) {
            width: 3.625rem;
            height: 2.688rem;
          }
        }
      }

      .swiper-pagination-bullet-active {
        .swiper-pagination-bullet {
          &__img {
            transform: scale(2);
          }
        }
      }
    }

    .nav-slider {
      @media (max-width: 320px) {
        top: 65%;
      }
    }
  }
}