body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 886px;
  max-height: 886px;
  max-width: 1920px;
  background: #1C1B16;
  color: #F9F5E1;
  margin: 0 auto;
  padding: 40px;
}